<div class="p-grid">
  <div class="p-col-6">
    <form class="p-fluid p-formgrid p-grid">
      <div>
          <label for="name">Name</label>
          <input id="name" type="text" pInputText #nameInput>
      </div>
      <div class="margin">
          <label for="amount">Amount</label>
          <input id="amount" type="number" pInputText #amountInput>
      </div>
    </form>
    <br>
    <button pButton type="button" label="Add" class="ui-button-success" (click)="addIngredient()"></button>
    <button pButton type="button" label="Delete" class="ui-button-danger margin"></button>
    <button pButton type="button" label="Clear" class="ui-button-info margin"></button>
  </div>
</div>
